// Set the width of the main content area
// Notice that the actual content's width is $site-width - 100px
$site-width: 900px;

$headline-font: "Gen Sen Rounded", "Helvetica Neue", Helvetica, "PingFang SC", "Wawei", 
  "Hiragino Sans GB", "Microsoft YaHei", Arial, "Noto Sans", "微软雅黑", sans-serif;
$content-font: "Helvetica Neue", Helvetica, "PingFang SC", "Wawei", "Hiragino Sans GB",
  "Microsoft YaHei", Arial, "Noto Sans", "微软雅黑", sans-serif;
$article-footer-font: "Fira Code", "Helvetica Neue", Helvetica, "PingFang SC", "Wawei", 
  "Hiragino Sans GB", "Microsoft YaHei", Arial, "Noto Sans", "微软雅黑", monospace;

$hard-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

// main colors
$page-background-color: rgb(252, 252, 252);
$base-color: rgb(38, 45, 108);
$special-color: darken($base-color, 10);
$highlight-color: rgb(172, 193, 69);
$darklight-color: rgb(140, 118, 37);
$lowlight-color: rgb(200, 232, 169);
$text-color: rgb(21, 21, 21);

// easy styling
$nav-background-color: $special-color;
$nav-text-color: $page-background-color;
$algolia-search-box-color: #444;
$algolia-search-box-icon-color: #888;
$algolia-search-box-background-color: #fcfcfc;
$algolia-border-color: #e4e4e4;

$header-text-color: $page-background-color;
$logo-color: darken($page-background-color, 1);
$bubble-color: #fff;
$bubble-background-color: rgb(203, 203, 203);
$bubble-hover-color: $highlight-color;

$article-background-color: #fff;
$meta-text-color: rgb(126, 126, 126);
$meta-border-color: #eee;
$continue-reading-hover-color: $meta-text-color;

$footer-border-color: #eee;
$footer-background-color: rgba(#ffffff, 80);
$footer-headline-color: $text-color;
@mixin featuredImage() {
  .featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.25;
  }
}
